<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525821652940-si51v8flagoh5op8t3qa7uc9pfmsjs6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525821652940-si51v8flagoh5op8t3qa7uc9pfmsjs6s</string>
	<key>API_KEY</key>
	<string>AIzaSyDwjVIxI8UiAdRqbt8GZwHroEGwH0NmIVc</string>
	<key>GCM_SENDER_ID</key>
	<string>525821652940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willowparenting.willow</string>
	<key>PROJECT_ID</key>
	<string>willow-development-85aca</string>
	<key>STORAGE_BUCKET</key>
	<string>willow-development-85aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:525821652940:ios:aad0ccc56dc530dec6f769</string>
	<key>DATABASE_URL</key>
	<string>https://willow-development-85aca.firebaseio.com</string>
</dict>
</plist>
