<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.willowparenting.willow.refresh</string>
		<string>com.willowparenting.willow.fetchNotifications</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Willow Parenting </string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key></key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.willowparenting.willow</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FirebaseDev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.525821652940-si51v8flagoh5op8t3qa7uc9pfmsjs6s</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Description of why you require the use of the media library</string>
	<key>NSCameraUsageDescription</key>
	<string>by allowing access, you'll be able to take and share photos on the app (for your profile avatar, feed posts, and chats)</string>
	<key>NSContactsUsageDescription</key>
	<string>Willow want to access your contact for your better experience with friend </string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Description of why you require the use of the downloads</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>by allowing access, you will be able to provide your current's location to Willow's fellows</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Description of why you require the use of the location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Description of why you require the use of the microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>by allowing access, you will be able to access Willow's motion feature</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>by allowing access, you'll be able to select and share photos from your phone's camera roll on the app (for your profile avatar, feed posts, and chats)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>by allowing access, you'll be able to select and share photos from your phone's camera roll on the app (for your profile avatar, feed posts, and chats)</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>NeutraText-Book.otf</string>
		<string>NeutraText-Bold.otf</string>
		<string>NeutraText-BookItalic.otf</string>
		<string>NeutraText-BoldItalic.otf</string>
		<string>Mulish-Italic.ttf</string>
		<string>Mulish-SemiBoldItalic.ttf</string>
		<string>Mulish-ExtraLight.ttf</string>
		<string>Mulish-Light.ttf</string>
		<string>Mulish-Medium.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-ExtraLightItalic.ttf</string>
		<string>Mulish-LightItalic.ttf</string>
		<string>Mulish-MediumItalic.ttf</string>
		<string>Mulish-Black.ttf</string>
		<string>Mulish-Bold.ttf</string>
		<string>Mulish-ExtraBold.ttf</string>
		<string>Mulish-SemiBold.ttf</string>
		<string>Mulish-BlackItalic.ttf</string>
		<string>Mulish-BoldItalic.ttf</string>
		<string>Mulish-ExtraBoldItalic.ttf</string>
		<string>NewYorkSmall-SemiboldItalic.otf</string>
		<string>NewYorkSmall-Semibold.otf</string>
		<string>NewYorkSmall-RegularItalic.otf</string>
		<string>NewYorkSmall-Regular.otf</string>
		<string>NewYorkSmall-MediumItalic.otf</string>
		<string>NewYorkSmall-Medium.otf</string>
		<string>NewYorkSmall-HeavyItalic.otf</string>
		<string>NewYorkSmall-Heavy.otf</string>
		<string>NewYorkSmall-BoldItalic.otf</string>
		<string>NewYorkSmall-Bold.otf</string>
		<string>NewYorkSmall-BlackItalic.otf</string>
		<string>NewYorkSmall-Black.otf</string>
		<string>NewYorkMedium-SemiboldItalic.otf</string>
		<string>NewYorkMedium-Semibold.otf</string>
		<string>NewYorkMedium-RegularItalic.otf</string>
		<string>NewYorkMedium-Regular.otf</string>
		<string>NewYorkMedium-MediumItalic.otf</string>
		<string>NewYorkMedium-Medium.otf</string>
		<string>NewYorkMedium-HeavyItalic.otf</string>
		<string>NewYorkMedium-Heavy.otf</string>
		<string>NewYorkMedium-BoldItalic.otf</string>
		<string>NewYorkMedium-Bold.otf</string>
		<string>NewYorkMedium-BlackItalic.otf</string>
		<string>NewYorkMedium-Black.otf</string>
		<string>NewYorkLarge-SemiboldItalic.otf</string>
		<string>NewYorkLarge-Semibold.otf</string>
		<string>NewYorkLarge-RegularItalic.otf</string>
		<string>NewYorkLarge-Regular.otf</string>
		<string>NewYorkLarge-MediumItalic.otf</string>
		<string>NewYorkLarge-Medium.otf</string>
		<string>NewYorkLarge-HeavyItalic.otf</string>
		<string>NewYorkLarge-Heavy.otf</string>
		<string>NewYorkLarge-BoldItalic.otf</string>
		<string>NewYorkLarge-Bold.otf</string>
		<string>NewYorkLarge-BlackItalic.otf</string>
		<string>NewYorkLarge-Black.otf</string>
		<string>NewYorkItalic.ttf</string>
		<string>NewYorkExtraLarge-SemiboldItalic.otf</string>
		<string>NewYorkExtraLarge-Semibold.otf</string>
		<string>NewYorkExtraLarge-RegularItalic.otf</string>
		<string>NewYorkExtraLarge-Regular.otf</string>
		<string>NewYorkExtraLarge-MediumItalic.otf</string>
		<string>NewYorkExtraLarge-Medium.otf</string>
		<string>NewYorkExtraLarge-HeavyItalic.otf</string>
		<string>NewYorkExtraLarge-Heavy.otf</string>
		<string>NewYorkExtraLarge-BoldItalic.otf</string>
		<string>NewYorkExtraLarge-Bold.otf</string>
		<string>NewYorkExtraLarge-BlackItalic.otf</string>
		<string>NewYorkExtraLarge-Black.otf</string>
		<string>NewYork.ttf</string>
		<string>icomoon.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>6eagy.app.link</string>
	<key>branch_key</key>
	<string>key_live_oc9jWC4oga8W053e2lRu8dglzwfiKiuQ</string>
</dict>
</plist>
